
<%= simple_form_for(@task) do |f| %>
<div class="form-check">
  <!-- <%= f.label :completed %> -->
  <!-- <%= f.text_field :completed, class: 'form-check-input' %> -->
  <%= f.input :completed, as: :radio_buttons, collection: [['false', 'in work'], ['true', 'done']], label_method: :second, value_method: :first %>
</div>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :details %>
  <%= f.text_field :details, class: 'form-control' %>
</div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>




