
<h1 class="text-center">My Tasks</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <ul class="list-group">
        <% @tasks.each do |task| %>
        <li class="list-group-item text-center border-0">
          <% if task.completed %>
          <%= status = "done" %> |
          <% else %>
          <%= status = "in work" %> |
          <% end %>
          <%= link_to task.title, task_path(task) %> | <%= link_to '<i class="fa fa-trash"></i> delete'.html_safe, task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></li>
          <% end %>
      </ul>
      <%= link_to "Ad a new task", new_task_path, class:'btn btn-primary' %>
    </div>
  </div>
</div>





