
<h1 class="text-center">My Tasks</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <ul class="list-group">
        <% @tasks.each do |task| %>
        <li class="list-group-item text-center">
          <% if task.completed %>
          <%= "done" %>
          <% else %>
          <%= "in work" %>
          <% end %>
          <%= link_to task.title, task_path(task) %> | <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></li>
          <% end %>
      </ul>

<br>

<%= link_to "Ad a new task", new_task_path %>




